name: "Workflow"

on:
  pull_request:
    types: [synchronize, opened]

jobs:
  foo:
    name: "Foo"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dir:
          - 'aaa/production'
          - 'bbb/dev'
          - 'bbb/staging'
      fail-fast: true

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        id: test
        run: |
          echo ${{ matrix.dir }}
          git fetch
          git branch -a
          echo "Pull request's base branch is: ${{ github.base_ref }}"
          echo "This branch is ${GITHUB_REF#refs/heads/}"
          git diff 
          
          diffs=$(git diff remotes/origin/${{ github.base_ref }}..HEAD --diff-filter=ACDMR --name-only)
          echo $diffs
          
          found="false"
          for diff in $diffs; do
            dir=$(echo $diff | awk -F/ '{ if(NF>=2){printf("%s/%s",$1,$2)} }')
            if [ -n "$dir" ]; then
              echo $dir
              if [ "$dir" = "${{ matrix.dir }}" ]; then
                found="true"
                break
              fi
            fi
          done
          echo $found