name: "Workflow"

on:
  pull_request:
    types: [synchronize, opened]

jobs:
  foo:
    name: "Foo"
    runs-on: ubuntu-latest

    strategy:
      matrix:
        dir:
          - 'bbb/dev'
          - 'bbb/staging'
          - 'aaa/production'
      fail-fast: true

    defaults:
      run:
        shell: bash
        working-directory: ${{ matrix.dir }}

    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Test
        id: test
        run: |
          #echo ${{ matrix.dir }}
          git fetch
          git branch -a
          echo "Pull request's base branch is: ${{ github.base_ref }}"
          echo "This branch is ${GITHUB_REF#refs/heads/}"
          git diff remotes/origin/${{ github.base_ref }}..HEAD --diff-filter=ACDMR --name-only
          
